# --- For-Bot-Working --------- #
git+https://github.com/searchingshiv/pyrogram.git
git+https://github.com/searchingshiv/tgcrypto.git
pyromod==1.5
# --- For-Database ------------ #
git+https://github.com/searchingshiv/mongo-python-driver.git
git+https://github.com/searchingshiv/dnspython.git
# --- For-Web-Response ------- #
git+https://github.com/searchingshiv/aiohttp
